{% extends "base.html" %}
{% block content %}
<div class="row accounts-page d-flex justify-content-center">
    <div class="password-reset-pages">
        <h3 class="instagram-title text-center">Enter new password</h3>
        <p class="text-center">
            Please enter your new password twice so we can verify you typed it in correctly.
        </p>
        <form method="post">
            {% csrf_token %}
            {{form}}
            <input type="Submit" name="Update Password" value="Update Password" class="btn-primary">
        </form>
    </div>
</div>
{% endblock %}