{% extends 'base.html' %}
{% load mapbox_location_field_tags %}
{% location_field_includes %}
{% include_jquery %}

{% block content %}
<br><br><br>
<div class="display-all-projects d-flex justify-content-center">
    {% for project in all_projects %}
    <div class="card m-2" style="width: 20rem;">
        <img class="card-img-top" style="height: 50%" src="{{project.project_image.url}}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title font-weight-bold">{{project.title}}
                <span class="float-right">
                    <a href="{% url 'like_project' user.id project.id %}">
                        <i class="fas fa-thumbs-up"></i>
                        {{project.saved_likes}}
                    </a>
                </span>
            </h5>
            <p class="card-text">
                {{project.description|truncatechars:50}}
                <a href="{% url 'project-details' project.id %}">view more</a>
            </p>
            <p class="small">Location:{{project.location}}
                <span class="float-right">Created:{{project.created_on}}</span>
            </p>
            <div class="text-center">
                <a href="{{project.project_url}}" class="btn btn-light">Live link</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}