{% extends 'base.html' %}

{% block content %}
<br><br>
<div class="project-display d-flex justify-content-center">
    <div class="project-detail">
        <div class="">
            <div class="">
                <h4 class="font-weight-bold">
                    <a href="{{project.project_url}}">
                    {{project.title}}</a>
                </h4>
            </div>
        </div>
        <img src="{{project.project_image.url}}" class="project-detail-image">
    </div>
    <div class="project-detail-details">
        <h5 class="font-weight-bold pt-1">
            <span><img src="{{user.prof_pic.url}}" class="project-detail-profpic"></span>
            {{user.name}}
            <span class="float-right">
                <a href="{% url 'like_project' user.id project.id %}">
                    <i class="fas fa-thumbs-up"></i> 
                    {{project.saved_likes}}
                </a>
            </span>
        </h5>
        <br>
        <p>{{project.description}}</p>
        <div class="row">
            <div class="col-md-6">
                <p class="small">Location:{{project.location}}</p>
            </div>
            <div class="col-md-6">
                <p class="float-right small">{{project.created_on}}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}